

a {
  color: rgb(36, 109, 181);
  text-decoration: underline;
}


html, body {
  margin:0;
	padding:0;
  font-family: 'Libre Franklin', sans-serif;
}

.curiosity_sussex {
    font-family: 'Spectral', sans-serif;
}


.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.splash_container {
  background-color: #000;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.title_container {
  position:absolute;
  top: 20vh;
  justify-content: left;
  align-items: left;
  text-align: left;
  color:#FFF;
  width: 70vw;
  font-size: 16pt;
}

/* .title {
  position:relative;
  font-size: 50pt;
  color:#AAA;
  font-weight: bold;
  line-height:50pt;
}

.title_description {
  position:relative;
  font-size: 20pt;
  color:#CCC;
} */

.title {
  font-weight: bold;
  /* line-height:50pt; */
}

.grey {
  color:#CCC;
}

.white {
  color:#FFF;
}

.bg_grey {
    background-color:#CCC;
  }

.image_overlay {
  opacity:40%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  padding: 0px;
}


.divider {
    height:300px;
    width: 100vw;
    background-color: #999;
    background: url("images/AdobeStock_444988670.jpeg") no-repeat;
    background-size: cover;
  }


p {
  font-size: 18pt;
}

.social {
  height: 40px;
  padding: 5px;
  opacity: 0.5;
  display: inline-block;
}
.social:hover {
  opacity: 1.0;
}

a {
  text-decoration: none;
}

